body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #000;
}

.header {
	text-align: center;
}

#main-container {
	/*position: absolute;
	top: 0px;
	left: 0px;*/
	padding: 0;
	margin:0;
}

#player-container {
	margin: 0;
	padding: 0;
	text-align: center;
	margin-left: auto;
	/*height: 480px;
	margin-top: 30px;*/
}

#player-container .player-loader {
	margin-top: 200px;
	font-size: 30px;
}

#player, #player iframe{
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
}

#player-mask {
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
}

#top-bar {
	z-index: 200;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding:0;
	height: 40px;
	background-color: #363636;
	color:#D4D4D4;
}

#top-bar .category {
	float: left;
	margin-top: 11px;
	padding-left:10px;
	padding-right: 10px;
	height: 30px;
}
#top-bar a {
	color: #6A6A6A;
}
#top-bar a:hover {
	color: #BBB;
}

#top-bar .brand-name {
	font-size: 20px;
	margin-top: 7px;
}

#top-bar .no-video-found {
	color: #B84D4D;
	font-weight: bold;
}

#top-bar .pull-right {
	float: right;
}

#top-bar .search-bar {
	margin-top: 7px;
	padding-right: 50px;
}
#top-bar .search-bar .input-search {
	height: 15px;
	border-radius: 25px;
	margin-left: 20px;
}
#top-bar .search-btn {
	float: right;
	border-radius: 8px;
	border: 1px solid #333;
	background-color: #777;
	padding-top: 3px;
	padding-left: 20px;
	padding-right: 20px;
	height: 22px;
}
#top-bar .search-btn:hover {
	cursor: pointer;
	background-color: #666;
}


.navbar .no-video-found{
	font-weight: bold;
	color:#B20000;
}

.searching-needed {
	color: red;
	font-weight: bold;
}

#search-list-container {
	width: 400px;
	position: fixed;
	top: 40px;
	right: 0px;
	/*height: 87%;
	padding-top: 50px;*/
	overflow: auto;
	background-image: url('bg/search-bg.png');
	z-index: 10;
}

#search-list-hider {
	float: left;
	width: 10px;
	background-color: #CCC;
	height: 100%;
}

#search-list {
	color: #FFF;
}

#search-list tr:hover {
	background-color: #333;
	cursor: pointer;
}

#search-list td {
	border-bottom: 1px solid #DDD;
	padding: 4px;
	position: relative;
}

#search-list .img {
	width: 120px;
	position: relative;;
}

#search-list .img img {
	border: 1px solid #777;
}

#search-list .add-to-playlist {
	position: absolute;
	top: 10px;
	left: 10px;
}

#search-list .texte {
	width: 280px;
	padding-left: 10px;
	vertical-align: top;
}

#search-list .name {
	font-size: 14px;
}

#search-list .description {
	font-size: 10px;
}

#next-track-container {
	z-index: 100;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#next-track-container div {
	z-index: 2;
}

#next-track-container .disabled {
	background-color: #900000;
	color: #DDD;
	font-weight: bold;
}

#next-track-container .disabled div {
	text-align: center;
	width: 100%;
}

#next-track-container .not-disabled {
	background-color: #999;
}

#next-track {
	z-index: 3;
	width: 100%;
	height: 35px;
	vertical-align: middle;
}

#next-track div {
	float: left;
	padding-top: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	font-size: 15px;
	text-align: center;
}

#next-track div.divider {
	width: 0px;
	border-right: 1px solid #888;
	height: 18px;
	margin-top: 5px;
	padding-left: 2px;
	padding-right: 2px;
}

#next-track img {
	margin-top: 10px;
}

#next-track .error {
	font-weight: bold;
	color: #900000;
	text-align: center;
}

#next-track div.next-one {
	color: #666;
}

#next-track div.pull-right {
	float: right;
}

#next-track div.small {
	font-size: 13px;
	padding-top: 9px;
}

#next-track .play-it, #next-track .pause-it {
	color: #222;
}
#next-track .link:hover {
	text-decoration: underline;
	cursor: pointer;
}

#next-track .trackname {
	font-weight: bold;
	font-variant: small-caps;
}

#next-track a{
	color: #222;
}

#next-track a:hover{
	text-decoration: underline;
}

/* TRACKNAVBAR */

#track-navbar {
	z-index: 100;
	position: fixed;
	bottom: 35px;
	left: 0px;
	width: 100%;
	height: 5px;
	background-color: #2A47A0;
	padding: 0;
	cursor: pointer;
}
#track-navbar:hover {
	cursor: pointer;
}

#tracker {
	z-index: 105;
	width: 10px;
	height: 9px;
	position: fixed;
	bottom: 33px;
	left: 0px;
	background-color: #D1D1D1;
}
#tracker-buffer {
	z-index: 101;
	height: 5px;
	position: fixed;
	bottom: 35px;
	left: 0px;
	width: 0px;
	background-color: #296ACC;
}


/* HELP STYLE */

.mask {
	z-index: 20;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.7;
	position: absolute;
	top: 0px;
	left: 0px;
}

#help-container {
	z-index: 21;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	width: 100%;
}

#help-container .helpText {
	opacity: 1;
	margin-top: 150px;
	width: 400px;
	background-color: #DDD;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	text-align: left;
}

#help-container .helpText .close {
	float: right;
	font-size: 14px;
}