<% if (typeof title == "undefined" && (typeof name == "undefined" || name == '')) { %>
	<div id="next-track" class="disabled">No track in the playlist : add another one !</div>
<% } else { %>
	<div id="next-track" class="not-disabled">
		<div class="next-one">Next track :</div>

		<div class="trackname">
		<% if (typeof title == "undefined" && typeof name != 'undefined') { %>
			<%= artist %> - <%= name %>
		<% } else { %>
			<%= title %>
		<% } %>
		</div>
		<div class="divider"></div>
		<% if (typeof youtubeData != 'undefined') { %>
			<div class="play-it link">Play</div>
		<% } else { %>
			<img src="img/ajax-loader.gif" class="video-loader" /> Loading video
		<% } %>
		<div class="playlist-info">
			<% if (typeof onPlaylist != 'undefined') { %>
				Playlist : <%= onPlaylist %> tracks
			<% } %>
		</div>
		<img src="img/ajax-loader.gif" class="playlist-loader hidden" />
		<div class="playlist-loading-info hidden">Loading playlist...</div>
		<div class="delete-track pull-right link">Delete track</div>
	</div>
<% } %>