<% if (typeof loadingPlaylist != 'undefined') { %>
	<div id="next-track" class="not-disabled">
		<div class="next-one">Next track :</div>
		<img src="img/ajax-loader.gif" class="playlist-loader" />
		<div class="playlist-loading-info">Loading playlist...</div>
	</div>
<% } else if (typeof loadingPlaylistError != "undefined") { %>
	<div id="next-track" class="disabled">
		<div>No similar track was found.</div>
	</div>
<% } else if (typeof empty != "undefined") { %>
	<div id="next-track" class="disabled">
		<div>No track in the playlist : add another one !</div>
	</div>
<% } else { %>
	<div id="next-track" class="not-disabled">
		<div class="next-one">Next track :</div>

		<div class="trackname">
		<% if (typeof videoTitle == "undefined" && typeof name != 'undefined' && typeof artist != 'undefined') { %>
			<%= artist %> - <%= name %>
		<% } else { %>
			<%= videoTitle.length > 50 ? videoTitle.substr(0, 47) + '...' : videoTitle %>
		<% } %>
		</div>
		<div class="divider"></div>
		<% if (typeof youtubeData != 'undefined') { %>
			<div class="play-it link">Play now</div>
		<% } else if (typeof youtubeDataError != 'undefined') { %>
			<div>
				No corresponding youtube video was found.
			</div>
		<% } else { %>
			<div>
				<img src="img/ajax-loader.gif" class="video-loader" /> Loading video
			</div>
		<% } %>
		<div class="divider"></div>
		<div class="playlist-info">
			<% if (typeof onPlaylist != 'undefined') { %>
				<!--Playlist : <%= onPlaylist %> tracks-->
				Playlist loaded
				<small>(<%= onPlaylist %> tracks)</small>
			<% } %>
		</div>
		<img src="img/ajax-loader.gif" class="playlist-loader hidden" />
		<div class="playlist-loading-info hidden">Loading playlist...</div>
		<div class="delete-track pull-right link">Delete track</div>
	</div>
<% } %>